:root {
  --primary: #000000;
  --primary-95: #0d0d0d;
  --primary-90: #1a1a1a;
  --primary-80: #333333;
  --primary-60: #666666;
  --primary-40: #999999;
  --primary-20: #cccccc;
  --primary-10: #e6e6e6;
  --primary-05: #f2f2f2;
  --background: #ffffff;
  
  /* Typography */
  --font-sans: 'Sk-Modernist', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'Sk-Modernist Mono', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

  /* Font sizes */
  --font-3xl: 2.5rem;
  --font-2xl: 2rem;
  --font-xl: 1.5rem;
  --font-lg: 1.125rem;
  --font-md: 1rem;
  --font-sm: 0.875rem;

  /* Colors Tokens */
  --text-primary: var(--primary);
  --text-secondary: var(--primary-80);
  --text-tertiary: var(--primary-60);

  --element-primary: var(--primary-60);
  --element-secondary: var(--primary-20);
  --element-tertiary: var(--primary-10);
  --element-hover: var(--primary-05);

}

@media screen and (min-width: 768px) {
  :root {
    /* Font sizes for tablet and desktop */
    --font-3xl: 4rem;
    --font-2xl: 3rem;
    --font-xl: 2rem;
    --font-lg: 1.5rem;
    --font-md: 1.125rem;
    --font-sm: 1rem;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
}

html, body {
  padding: 0;
  margin: 0;
  font-size: var(--font-md);
  color: var(--primary);
  background: var(--background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
}

body {
  min-height: 100vh;
  letter-spacing: normal;
  font-family: var(--font-sans);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
}

button[disabled] {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: currentColor;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  padding: 0;
}
li {
  list-style: none;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  letter-spacing: 0;
}