/* CircularStd @font-face kit */
@font-face {
  font-family: 'CircularStd Black';
  src: url('./CircularStd-Black.eot');
  src: url('./CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('./CircularStd-Black.woff') format('woff'), url('./CircularStd-Black.ttf') format('truetype'), url('./CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('./CircularStd-Medium.eot');
  src: url('./CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('./CircularStd-Medium.woff') format('woff'), url('./CircularStd-Medium.ttf') format('truetype'), url('./CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}

