html {
  font-family: sans-serif;
  /* font: 112.5%/1.45em georgia, serif; */
  box-sizing: border-box;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
}
body {
  font-family: 'Circular Std', Helvetica, sans-serif;
  letter-spacing: normal;
  color: hsla(0, 0%, 0%, 0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
button {
  background: transparent;
  border: none;
  outline: 0;
}
button[disabled] {
  opacity: .5;
}
a {
  text-decoration: none;
  color: #131414;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
body,
div, 
section,
main,
a,
header, 
footer {
  box-sizing: border-box;
}

p{
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  letter-spacing: 0;
}